<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <title>Document</title>
</head>
<body>
    <header class = "header">
        
        <div class = "header-left">
            <h3>360 영상</h3>
        </div>

        <div class = "header-right">
            <h3>MCl@KAU</h3>
        </div>

    </header>
    <main>
        <div class = "camera1">
            <div class = "erp_div">
                <h5>Camera1(ERP)</h5>
                <video controls width="800" class = "erpvideo">

                    <source src="C:\Users\User\Desktop\ssu\output\video_regi-v0.mp4"
                            type="video/mp4">
            
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>

            <div class = "tracklist_div">
                <h5>Track list</h5> 
                <div class = "tracklist_box">
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                    <div class = "track_item">
                        트랙 정보
                    </div>
                </div>
            </div>

            <div class = "viewport_div">
                <h5>Viewport camera1</h5>
            <img src="" alt="" class ="viewport_img">
            </div>

        </div>
        <br>
        <hr>
        <br>
        <div class = "camera2">
            <div>
                <h5>Camera2(ERP)</h5>
                <video controls width="800" class = "erpvideo">

                    <source src="C:\Users\User\Desktop\ssu\output\video_regi-v0.mp4"
                            type="video/mp4">
            
                    Sorry, your browser doesn't support embedded videos.
                </video>
            </div>

        </div>
    </main>
</body>
</html>